@model ContactModel
@{
    ViewData["Title"] = "Register Contact";
}

    <br />

    <h1 class="display-4 text-center">@ViewData["Title"]</h1>

    <form asp-controller="Contact" asp-action="Create" method="post">
        <div class="mb-3">
            <label for="name" class="form-label" asp-for="Name">Name</label>
            <input  class="form-control" type="text" placeholder="Enter your name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label" asp-for="Email">Email</label>
            <input class="form-control" type="text" placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label" asp-for="Phone">Phone</label>
            <input class="form-control" type="text" placeholder="Enter your phone">
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index" role="button">Back</a>
    </form>

    

